nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 71px;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 99;
}

nav h4 {
  cursor: pointer;
  font-family: Poppins, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  color: black;
  font-family: sans-serif;
}

.nav-items a {
  color: black;
}

.hero {
  display: flex;
  /* flex-direction: column; */
}

.hero-img {
  background-image: url(./images/Abu.jpg);
  background-size: cover;
  height: 665px;
  background-position: center;
  width: 70%;
}

.hero-info {
  justify-content: center;
  align-items: center;
  width: 599px;
  height: 665px;
  background-color: #ffdd00;
  font-family: Poppins, Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.hero-info h1 {
  justify-items: center;
  margin-top: 200px;
  font-family: sans-serif;
}
.hero-info button {
  font-family: Poppins, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  line-height: 21.6px;
  text-align: start;
  cursor: pointer;
  letter-spacing: 7px;
}

.hero-info button:hover {
  color: blue;
}

.hero-text {
  position: absolute;
  left: -90px;
}

.works {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  /* padding: 6rem 0; */
  margin-top: 100px;
  margin-bottom: 100px;
}

.works-text {
  text-align: center;
}

.works h2 {
  font-family: sans-serif;
  margin-bottom: 50px;
}

.works h5 {
  margin-bottom: 50px;
  font-size: 12px;
  font-weight: 700;
}

.works1 {
  display: flex;
  flex-direction: column;

  font-family: sans-serif;
}

.works1 h5 {
  margin-bottom: 30px;
}
.works1 .resume {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.resume p {
  text-align: center;
  font-family: Poppins, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: rgb(26, 26, 26);
  padding-right: 300px;
  padding-left: 300px;
  margin-top: 50px;
  line-height: 40px;
}

.resume a {
  font-family: Poppins, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.resume a:hover {
  color: rgb(255, 221, 0);
}

.subs {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  padding-top: 50px;
}

.form-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  font-family: Poppins, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  padding-top: 50px;
}

.form-btn button {
  background: black;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}

.form-btn input {
  border: none;
  border-bottom: 2px solid black;
  font-family: sans-serif;
}

.footer-items {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  color: white;
  padding: 10%;
}

.About-us {
  height: 350px;
  width: 45%;
  margin-right: 50px;
  text-align: justify;
  font-family: sans-serif;
  line-height: 30px;
}

.features {
  height: 200px;
  width: 150px;
  margin-right: 50px;
  font-family: sans-serif;
}

.follow-us {
  height: 200px;
  width: 150px;
  font-family: sans-serif;

  margin-right: 50px;
}

.footer-talk {
  height: 200px;
  width: 200px;
  /* width: 20%; */
  font-family: sans-serif;
  text-align: left;
  line-height: 30px;
}

.footer-talk h1 {
  margin-bottom: 25px;
}

.footer-talk a {
  margin-top: 30px;
}

.footer-talk a:hover {
  color: blue;
}

.footer-container {
  display: flex;
  justify-content: center;
}

#copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
}

.items {
  width: 25%;
  justify-content: space-evenly;
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer-links a {
  color: white;
}

.footer-icons {
  display: flex;
  column-gap: 20px;
}

.footer-icons i {
  cursor: pointer;
}

footer {
  background-color: #333;
  /* padding: 3rem 0; */
  border: none;
}

footer h3 {
  margin-bottom: 20px;
}

.footer-talk a {
  background-color: #ffdd00;
  color: black;
  padding: 5px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

footer input {
  border: none;
  padding: 10px 10px;
  background-color: transparent;
}

footer button {
  padding: 0 10px;
  background-color: rgb(227, 235, 227);
  color: white;
  cursor: pointer;
}

.class-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.glass {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: gray;
  border-radius: 5px;
  color: white;
  line-height: 40px;
}

.glass .fa {
  margin-bottom: 20px;
  font-size: 40px;
  margin-top: 20px;
}

.explore {
  font-weight: 1000;
  color: white;
}

.layer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: gray;
  border-radius: 5px;
  color: white;
  line-height: 40px;
}

.layer .fa {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bulb {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: gray;
  border-radius: 5px;
  color: white;
  line-height: 40px;
}

.bulb .fa {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.learn {
  font-weight: 1000;
  color: white;
}

.create {
  font-weight: 1000;
  color: white;
}

.direction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  gap: 50px;
}

.direction img {
  width: 100%;
}

.direction a {
  font-family: Poppins, Arial, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.direction-items {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.direction-span {
  font-family: Poppins, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.direction-items p {
  font-family: Poppins, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: rgb(26, 26, 26);
}

.direction button {
  font-family: Poppins, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: #ffe01a;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 150px;
}
